<mat-sidenav-container>
  <mat-sidenav #menu>
    <app-menu-list (menuToggle)="menu.toggle()" (signOut)="onSignOut()"
    [isAuthorized] = "isAuthorized$ | async"
    ></app-menu-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (menuToggle)="menu.toggle()"
    [isAuthorized] = "isAuthorized$ | async"

    (signOut)="onSignOut()"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- [user] = "user$ | async"


      <button (click)="menu.toggle()">Abrir Menu</button>

<button (click)="onToggleSpinner()">Toggle Spinner</button>
<button appFilesUpload [multiple]="true" (changed)="onFilesChanged($event)">Subir imagenes al servidor</button>
<button (click)="onSuccess()">Mensaje de exito</button>
<button (click)="onError()">Mensaje de error</button>

<app-spinner *ngIf="showSpinner"></app-spinner> -->
